<div id="about">
  <div class="container ptb">
    <div class="row">
      <h2 class="centered mb">I create websites & webapplications<br/>made from scratch.</h2>
      <div class="col-md-6">
        <p>Creating websites and webapplications is what I love doing. During the years from highschool on, I started building applications in both native web languages, as in frameworks. During the years, I got exposed to all kinds of technologies which I made my own, I'll never stop learning.</p>
      </div><!--/col-md-6-->
      <div class="col-md-6">
        <p>I like to think of myself as a fullstack webdeveloper because I was always used to do both the frontend , as the backend of any projects I did. I'm a allround developer with the focus on backend and frameworks.</p>
      </div><!--/col-md-6-->
    </div><!--/row-->
  </div><!-- /.container -->
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <img src="dist/img/items.png" class="img-responsive" alt="">
      </div>
    </div><!--/row-->
  </div><!--/.container-->
</div>